<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEA : LOCATION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
    <link rel="stylesheet" href="" th:href="@{/css/Locate_us.css}" />
</head>
<body>
    <nav th:replace="~{Navigation::navbar()}"></nav>

    <div class="location-header">
        <h1><i class="fa-solid fa-location-crosshairs"></i>Our Location</h1>
        <small><i class="fa-solid fa-wifi"></i> Internet connection required</small>
    </div>

    <div class="location">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62575.05133734779!2d76.6522217066162!3d11.411849727064205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8bd84b5f3d78d%3A0x179bdb14c93e3f42!2sOoty%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1780592342846!5m2!1sen!2sin" width="600" height="450" style="border:0;" 
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</body>
</html>
